

@media (hover: hover) and (any-pointer:fine) {
    a[data-v-670b333e]:not(.nav-bullet) {
        position:relative
    }

    a[data-v-670b333e]:not(.nav-bullet):hover:after {
        opacity: .2;
        transform: translateX(.5em)
    }

    a[data-v-670b333e]:not(.nav-bullet):after {
        content: "";
        width: 20%;
        min-width: 1em;
        height: 100%;
        opacity: 0;
        top: 0;
        right: 0;
        transform: translateX(0);
        transform-origin: left;
        transition: .3s;
        position: absolute;
        pointer-events: none;
        background-color: currentColor
    }
}

.is-tabbing a[data-v-670b333e]:not(.nav-bullet):focus {
    outline-width: 2px
}
#about{
    padding: 100px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: left;
    background-color: black;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
  }
  
  .timeline > li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-image {
    z-index: 10;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #ceff00;
  }
  
  .timeline > li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline .timeline-heading h4.subheading {
    text-transform: none;
  }
  
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
  
    .timeline > li {
      margin-bottom: 100px;
      min-height: 100px;
    }
  
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
  
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
  
    .timeline > li .timeline-image h4 {
      margin-top: 16px;
      font-size: 13px;
      line-height: 18px;
    }
  
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
  
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
  
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
  
    .timeline > li .timeline-image h4 {
      margin-top: 30px;
      font-size: 18px;
      line-height: 26px;
    }
  
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
  
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
  
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
  
    .timeline > li .timeline-image h4 {
      margin-top: 40px;
    }
  
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }
  #certifications{
    padding: 100px;
  }
  .slide-container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }

  .carousel {
    position: absolute;
    margin-top: -130px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 30s infinite forwards linear;
  }
  .carousel:hover{
    animation-play-state:paused;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    display: flex;
  }
  .carousel__face:hover{
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  .carousel__face button{
    position: absolute;
    display: none;
    bottom:20px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("awscert.png");
    height: 150px;
    width: 300px;
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("./lambda.png");
    height: 150px;
    width: 300px;
    transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("./seocert.png");
    height: 150px;
    width: 300px;
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("awscert.png");
    height: 150px;
    width: 300px;
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("./lambda.png");
    height: 150px;
    width: 300px;
    transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("./seocert.png");
    height: 150px;
    width: 300px;
    transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("awscert.png");
    height: 150px;
    width: 300px;
     transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("./lambda.png");
    height: 150px;
    width: 300px;
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("./seocert.png");
    height: 150px;
    width: 300px;
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  #portfolio h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -0.03em;
    color:#ceff00
  }
#portfolio{
    background-color: black;
    padding: 75px;
}
  #portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
  }
  
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
  }
  .portfolio-item img:hover {
    /* display: none;
      background: gold; */
  }
  .portfolio-hover:hover {
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    color: gold;
    opacity: 50%;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    margin-top: -150px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: gold;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
  }
  
  #portfolio
    .portfolio-item
    .portfolio-link
    .portfolio-hover
    .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    margin-bottom: -220px;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  
  #portfolio
    .portfolio-item
    .portfolio-link
    .portfolio-hover
    .portfolio-hover-content
    i {
    /* margin-top: -12px; */
  }
  
  #portfolio
    .portfolio-item
    .portfolio-link
    .portfolio-hover
    .portfolio-hover-content
    h3,
  #portfolio
    .portfolio-item
    .portfolio-link
    .portfolio-hover
    .portfolio-hover-content
    h4 {
    margin: 0;
  }
  
  #portfolio .portfolio-item .portfolio-caption {
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
  }

  .portfolio-caption{
    margin-top: -35px;
    padding: 25px;
    width: 350px;
  }
  .portfolio-item{
    margin-bottom: 100px;
  }
  
  #portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
  }
  
  #portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
  }
  
  #portfolio * {
    z-index: 2;
  }
  
  @media (min-width: 767px) {
    #portfolio .portfolio-item {
      margin: 0 0 30px;
    }
  }

  .logo{
    width: 150px;
    height: 150px;
  }
  header{
    background-color: #fff;
  }
